<form (ngSubmit)="search()">
  <tui-textfield #searchField tuiTextfieldSize="m" [tuiTextfieldCleaner]="false" [open]="open()">
    <!--<tui-input #searchField>-->
    <input #searchInput id="search-input" tuiTextfield type="text" [formControl]="inputCtrl"
      [placeholder]="searchField.focused() ? '' : 'Número do CAR'" [invalid]="inputCtrl.invalid">

    @if (isSearching()) {
    <tui-loader />
    } @else {
    <button tuiIconButton appearance="icon" size="xs" type="button" iconStart="@tui.search" (click)="search()"></button>
    }
    <button tuiIconButton appearance="icon" size="xs" type="button" iconStart="@tui.x" (click)="clear()"></button>

    <!--@if (hasResults()) {-->
    <tui-data-list *tuiTextfieldDropdown>
      <tui-opt-group>
        @for (car of results(); track car.properties.cod_imovel) {
        <button tuiOption type="button" (click)="select(car)" (mouseenter)="updateHighlight(car)"
          (mouseleave)="updateHighlight({ type: 'FeatureCollection', features: [] })">
          {{ car.properties.cod_imovel }}
        </button>
        }
      </tui-opt-group>
    </tui-data-list>
    <!--}-->
    <!--</tui-input>-->
  </tui-textfield>
  <!--{{hasResults()}}-->
  <!--{{open()}}-->
  <!--{{asd()}}-->
</form>
