<tui-root [attr.tuiTheme]="darkMode() ? 'dark' : 'light'">
  <app-map [style]="mapStyle" [fitBounds]="bounds" [attributionControl]="false">
    <mgl-control position="top-right">
      <button tuiButton size="m" (click)="layersVisible = !layersVisible">
        <tui-icon icon="@tui.layers-3" />
      </button>
    </mgl-control>
    <mgl-control position="top-right">
      <button tuiButton size="m" (click)="resetBounds()">
        <tui-icon icon="@tui.expand" />
      </button>
    </mgl-control>
    <mgl-control position="top-right">
      <button tuiButton size="m" (click)="setDarkMode(!darkMode())">
        <tui-icon [icon]="darkMode() ? '@tui.sun' : '@tui.moon'" />
      </button>
    </mgl-control>
  </app-map>

  @if (layersVisible) {
  <app-layers [@tuiSlideInRight]="{value: '', params: { duration: 200}}"></app-layers>
  }

  @if (mapLoaded$ | async) {
  @let car = (selectedCAR$ | async);

  <div id="car-search-details-container" [class.car-selected]="car">
    <div id="search-container">
      <app-search-input></app-search-input>
    </div>
    @if (car) {
    <tui-scrollbar>
      <app-car-details [car]="car" [class.car-selected]="car"
        [@tuiFadeIn]="{value: '', params: { duration: 300}}"></app-car-details>
    </tui-scrollbar>
    }
  </div>
  }

</tui-root>
